<h3>About James</h3>
<img src="/assets/img/jamesheadshot.jpg" width="300">
<hr>
<p>
Born and raised in Philadelphia, James is a lifelong fan of all of the Philadelphia sports teams, which had brought him nothing but pain and misery for as long as he can remember.
<br>
<br>
After studying Journalism at The Pennsylvania State University and having a short-lived career as a journalist, James moved to Boston to work for a startup called Brafton. Hired as employee number six, the company grew and James moved to Chicago in 2011 to open Brafton’s Chicago office. By the time James left the company in 2014, Brafton had grown to approximately 400 employees.
<br>
<br>
Now after studying Web Development at General Assembly, James is ready to take on the new chapter of his life as a full-stack developer.
</p>
