<body>
  <div class="headerwrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:4000/">{{ site.name }}</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img id="beard" alt="Brand" src="/assets/img/logo.png">
              <h2>Conroy Designs</h2>
            </a>

          </div>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Resume</a></li>
          </ul>
        </div><!-- /.container-fluid -->
      </div>
    </nav>
    <h1 id="titleheader"><span id="spanname">James P. Conroy</span></h1>
    <h4 id="subbio">Full-stack Developer // Project Manager // Bearded Human</h4>
    <div class="fa-ul">
      <div class="row">
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram fa-3x"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
