{% include head.html %}
{% include nav.html %}

{{ content }}


  <div class="portfolio-container">
  <div class="portfolio-item">
    <a href="https://www.cb2.com" rel="nofollow" target="_blank">
      <img src="http://jamespconroy.com/assets/img/cb2.jpg?" alt="">  
    </a>
  </div>
  <div class="portfolio-item">
    <a href="https://www.crateandbarrel.com" rel="nofollow" target="_blank">
      <img src="http://jamespconroy.com/assets/img/crate.jpg" alt="">
    </a>
  </div>
  <div class="portfolio-item">
    <a href="https://www.crateandbarrel.com/feeding-america" rel="nofollow" target="_blank">
      <img src="http://jamespconroy.com/assets/img/feeding_america.jpg" alt="">
    </a>
  </div>
  <div class="portfolio-item-spacer"></div>
  <div class="portfolio-item">
    <a href="https://www.cb2.com/goop/1">
      <img src="http://jamespconroy.com/assets/img/goop2.jpg" alt="">
    </a>
  </div>
  <div class="portfolio-item">
    <a href="https://www.crateandbarrel.com/reese-witherspoon">
      <img src="http://jamespconroy.com/assets/img/draper_james.jpg" alt="">
    </a>
  </div>
</div>



<!-- <div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div> -->
